<footer class="pp-global-footer">
  <div class="pp-global-footer-logo-container">
    <p>Programmer's Paradise</p>
    <small>© 2022</small>
  </div>

  <nav>
    <ul>
      <li>Privacy Policy</li>
      <li>Social Icon 1</li>
      <li>Social Icon 2</li>
      <li>Social Icon 3</li>
    </ul>
  </nav>
</footer>
{{ function('wp_footer') }}
</body>
</html>